<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/ITI.png" alt="Logo" width="33" height="30" class="d-inline-block align-text-top">
      Dream 2000
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/Home">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/About">About US</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/Contact">Contact US</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/Products">Products</a>
      </div>
    </div>

  </div>
</nav>