<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/ITI.png" alt="Logo" width="33" height="30" class="d-inline-block align-text-top">
      Dream 2000
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/Home">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/About">About US</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/Contact">Contact US</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/Products">Products</a>

        <ng-container *ngIf="!isLoggedIn else logoutblock">
          <a class="nav-link" routerLinkActive="active" routerLink="/Login">Login</a>
        </ng-container>
        <ng-template #logoutblock>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{ userName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" (click)="logOut()" style="cursor: pointer;">Logout</a></li>
            </ul>
          </li>
        </ng-template>
      </div>
    </div>

  </div>
</nav>